@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto Mono', monospace;
  background-color:#f5365c;
}
#loading, #results{
  display: none;
}
